<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login page</title>
  <link rel="stylesheet" href="/files/style.css">
  <style>
    body{
      background-image: url("/files/image/2.jpeg");
    }
  </style>
</head>
<body>
<br/>
<p><a href="/hello" style="padding: 15px">Назад</a></p>
<br/>
<form class="myflex"
      name="f" method="post" action="/process_login">
  <!--  подключили SCRF токен-->
  <!--  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>-->
  <h1>Пройдите аутентификацию!</h1>
  <br/>
  <input type="text" name="username" id="username" placeholder="Введите логин:"/>
  <div th></div>
  <br/>
  <input type="password" name="password" id="password" placeholder="Введите пароль:"/>
  <br/>
  <div style="color: yellow" th:if="${param.error}">Неправильные имя или пароль</div>
  <input type="submit" value="Login" style="font-style: italic"/>
  <br/>
  <p>Еще нет аккаунта? Пройдите <a href="/auth/registration">регистрацию</a>.</p>
</form>

</body>
</html>