<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful registration page</title>
    <style>
        body{
            background-color: rgba(184, 134, 11, 0.75);
        }
    </style>
</head>
<body>
<div style="display: flex; justify-content: center; align-items: center; height: 100vh; flex-direction: column;">
    <h1 style="font-size: 30px; font-style: italic; color: green">Ваш аккаунт успешно зарегистрирован!</h1>
        <p>Нажмите <a href="/home" style="font-style: italic">продолжить..</a></p>
</div>
</body>
</html>