<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="/res/style.css">
    <style>
        body{
            background-image: url("/res/image/1.jpeg");
        }
    </style>
</head>
<body>

<div class="myflex">
    <h1 style="font-size:50px">Welcome to my website!!!</h1>

    <p style="text-align:center; font-size:20px">Вы находитесь на странице демонстрационного проекта.
        <br>
        <br>Для продолжения <a href="auth/registration">зарегистрируйтесь</a>
        <br>или если уже есть аккаунт, <a href="auth/login">войдите</a>.</p>
</div>

</body>
</html>