<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/files/comment.js"></script>
</head>

<body>

<h1 style="font-size: 50px">Comment page!</h1>

<br/><hr/><br/>



<form id="commentForm">
    <input type="text" id="commentInput" placeholder="Введите комментарий" required>
    <button type="submit">Отправить</button>
</form>
<script>sendCommentObject.init()</script>



<br/><hr/><br/>

<div id="comment-list">
    <script>getCommentObject.fetchComments();</script>
</div>
</body>
</html>