<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/files/style.css">
    <script src="/files/requestListComments.js"></script>
    <script src="/files/createComment.js"></script>
    <style>
        body{
            background-image: url("/files/image/5.jpg");
        }
    </style>
</head>
<body>

    <h1 style="font-size: 50px">Comment page!</h1>
    <p style="text-align: center;">Здесь вы можете оставить комментарий к этому проекту.
        <br/> Пожелания для развития функционала, замечания об ошибках и другое.. </p>

    <hr/>

    <form id="commentForm" class="comment_send">

        <textarea
                rows="1"
                id="commentInput"
                placeholder="Введите комментарий"
                required></textarea>
        <button id="buttonSendComment" type="submit">Добавить</button>
        <script>
            sendCommentObject.init();
            chengeSize();
        </script>
    </form>

    <hr/>

    <div id="comment-list">
        <script>fetchComments();</script>
    </div>

</body>
</html>