<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is home page</title>
    <link rel="stylesheet" href="/files/style.css">
    <style>
        body{
            background-image: url("/files/image/4.jpg");
        }
    </style>
</head>
<body>


<p><a style="padding: 15px" href="/logout">Выйти..</a></p>

<div class="myflex">
    <h1 style="font-size:50px">
        Hello, <span th:text="${username}"></span>!</h1>
    <br/>
    <p style="text-align: center; font-size: 20px;">
        Прошу прощения за столь малую функциональность..
        <br/>Большую часть времени местный кодер тратит на более интересные проекты:)
        <br/>Если вас не затруднит, можете оставить замечание к этому проекту на странице комментариев (кнопка для перехода ниже).
        <br/>
        <br/>Позже могут появиться дополнительные функции..
        <br/>
        <br/>Если интерестно, исходный код проекта <a href="https://github.com/KmnPetr/Project/tree/main/Project" target="_blank">здесь</a>..
    </p>
    <br/>
    <hr/>

    <a href="/home/comment"><img class="btn" src="/files/image/buttonComments.png" height="50px"/></a>
    <a href="/home/testKafka"><img class="btn" src="/files/image/buttonTestKafka.png" height="50px"/></a>
</div>

</body>
</html>