<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is home page</title>
    <link rel="stylesheet" href="/files/style.css">
    <style>
        body{
            background-image: url("/files/image/4.jpg");
        }
        .btn {
            transition: transform 0.2s;
        }
        .btn:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<body>


<p><a style="padding: 15px" href="/logout">Выйти..</a></p>

<div class="myflex">
    <h1 style="font-size:50px">
        Hello, <span th:text="${username}"></span>!</h1>
    <br/>
    <p style="text-align: center; font-size: 20px;">
        Пока довольно пусто..
        <br/>но как можно заметить, security уже настроено.
        <br/>Также можно, если не затруднит, можете оставить замечание к этому проекту на странице комментариев (кнопка для перехода ниже).
        <br/>
        <br/>Позже могут появиться дополнительные функции, если у местного кодера появиться достаточно времени:)
        <br/>
        <br/>Если интерестно, исходный код проекта <a href="https://github.com/KmnPetr/Project/tree/main/Project" target="_blank">здесь</a>..
    </p>
    <br/>
    <hr/>

    <a href="/home/comment"><img class="btn" src="/files/image/buttonComments.png" height="80px"/></a>
</div>

</body>
</html>