body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    font-size: 30px;
    text-align:center;
    font-style:italic;
    color:green;
}
p{
    color: aliceblue;
}
a{
    font-style: italic;
}
.myflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.comment_info{
    color: lightgray;
    font-size: 12px;
}
.comment_text{
    font-style: normal;
    color: black;
}
.comment_like_number{
    font-style: normal;
    color: black;
}
.customButton{
    background-image: url("/files/image/finger_up_green.jpg");
    background-size: cover;
    width: 100px;
    height: 100px;
    border: none;
}