body {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
a:link {color: #6a6aff;}  a:visited {color: #6a6aff;}  a:hover {color: rgb(3, 250, 255);}  a:active {color: red;}
h1{
    font-size: 30px;
    text-align:center;
    font-style:italic;
    color:green;
}
p{
    color: aliceblue;
}
a{
    font-style: italic;
}
.myflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#commentInput{
    width: 50vh;
    font-style: italic;
}
#buttonSendComment{
    margin-left: 10px;
    font-style: italic;
    background-color: #69a8a6;
}
.comment_send{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.comment_info_owner{
    color: lightgray;
    font-size: 12px;
    float: left;
}
.comment_info_date{
    color: lightgray;
    font-size: 12px;
    float: right;
}
.comment_text{
    clear: both;
    font-style: normal;
    color: black;
    word-break: break-word;
}
.comment_like_number{
    font-style: normal;
    color: black;
    /*line-height: 10;*/
    padding-top: 10px;
    padding-bottom: 10px;
}
.likeImage{
    cursor: pointer;
    height: 20px;
    margin-right: 20px;
}
.editAndRemove{
    cursor: pointer;
    color: lightgray;
    font-size: 12px;
    margin-right: 20px;
}
#comment-list {
    margin-left: 10%;
    margin-right: 10%;
    height: 60vh;
    overflow: auto;
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(255, 255, 255,0.5);
}
div::-webkit-scrollbar {
    width: 0.0em;
    background-color: transparent;
}
.btn {
    transition: transform 0.2s;
}
.btn:hover {
    transform: scale(1.1);
}